.header {
  background: white;
  border-bottom: solid rgba(35,42,59,0.06) 2px;
  margin-bottom: 90px;
  .section {
    height: 92px;
    max-width: 1220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    .nav ul {
      display: flex;
      align-items: center;
      li {
        margin: 0 0 0 30px;
      }
    }
  }
}
.logo {
  margin: 0 0 0 0;
  img {

  }
}
