.main {
  max-width: 1220px;
  margin: 0 auto 100px auto;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  p, h3, h4, h5 {font-family: Open Sans, sans-serif}
  h1, h2 {font-family: Montserrat, sans-serif}

  //MAIN CONTAINER OF GRID. Change gridspacing..
  .grid-container {
    position: relative;
    display: grid;
    height: 1100px;
    grid-template-columns: repeat(13, 1fr) / repeat(13, 1fr);;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    //overflow: hidden;
    //grid-auto-rows: minmax(1fr, auto);
    grid-gap: 20px;

    //BASIC CARD STYLE. Shadow, padding, corners.
    .card {
      border-radius: 6px;
      padding: 15px;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.08);
    }

    //BASIC CARD STYLE. Shadow, no-padding!, corners.
    .card-nopadding {
      border-radius: 6px;
      padding: 0;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.08);
    }

    //CARD THEME BLUE. Color variant
    .card-theme-blue {
      background-image: linear-gradient(33deg, #4DD5FF 0%, #497FFF 100%);
      color: white;
    }
    //CARD THEME WHITE. Color variant
    .card-theme-white {
      background: white;
      color: #37394C;
      .reports {
        h1, h3 {
          color: white;
        }
        h3 {font-weight: 200;}
      }
    }

    //ITEM 1 INTRO content
    .card-intro {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      // user :before & :after
      .background-overlay > div {
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        opacity: 0.2;
        width: 150px;
        height: 115px;
        transform: rotate(-10deg);
        position: absolute;
        z-index: 0;

        &:nth-child(1) {
          left: -20px;
          top: -30px;
        }

        &:nth-child(2) {
          left: 160px;
          top: -20px;
        }

        &:nth-child(3) {
          left: 338px;
          top: -15px;
          width: 180px;
        }

      }

      .reports {
        padding: 10px;
        margin: 15px;
        height: 110px;
        min-width: 100px;
        border-radius: 6px;
        background: #2D55B3;
        display: flex;
        align-items: center;
        flex-direction: column;
        z-index: 1;
        h1, h2, h3 {
          margin: 0;
        }
      }
      .text {
        z-index: 1;
        margin: 6px 15px 15px 15px;
        h2, h3 {
          margin: 0;
        }
        h3 {
          font-weight: 400;
        }
      }
    }
    //ITEM 2 BLOCK CHART content

    .card-block-chart {

      .card-header {
        display: flex;
        justify-content: space-between;
        border-bottom: solid 1px #f0f0f0;
        h2 {
          margin: 18px 24px 18px 24px;
          font-size: 14px
        }
      }


      .card-body {
        height: calc(100% - 59px);
        position:  relative;
        .chart-container {
          display: flex;
          justify-content: center;
          .ct-chart {
            //margin-top: 30px;
            //height: 405px;
            //width: 240px;
            font-family: Montserrat, sans-serif;
            font-weight: 500;
            color: #a3a3a3;
            font-size: 10px;
            position: absolute;
            left: 20px;
            top: 20px;
            right: 20px;
            bottom: 20px;

            .ct-label .ct-horizontal .ct-end {
              margin-top: 60px;
            }

            .ct-grid {
              stroke: #F0F0F0;
              stroke-width: 1px;
            }

            .ct-series-a .ct-bar {
              /* Colour of your bars */
              stroke: #497FFF;
              /* The width of your bars */
              stroke-width: 4px;
              /* Maybe you like round corners on your bars? */
              // stroke-linecap: round;
            }


            .ct-series-b .ct-bar {
              /* Colour of your bars */
              stroke: #7EA2FF;
              /* The width of your bars */
              stroke-width: 4px;
              /* Maybe you like round corners on your bars? */
              // stroke-linecap: round;
            }


            .ct-series-c .ct-bar {
              /* Colour of your bars */
              stroke: #BACEFF;
              /* The width of your bars */
              stroke-width: 4px;
              /* Maybe you like round corners on your bars? */
              // stroke-linecap: round;
            }
          }
        }

      }

    }





    //ITEM 3 CURVE CHART content

    .card-header {
      display: flex;
      border-bottom: solid 1px #f0f0f0;
      h2 {
        margin: 18px 24px 18px 24px;
        font-size: 14px
      }
    }

    .card-curve-chart {



      $travelColor: #f6c61e;
      $travelFill: #5DBCFF;
      $slaColor: #4A7FFF;
      $slaSubColor: #DAE6FF;
      $speColor: #fb79f6;
      $utilityColor: #42eb3e;

      .chartsContainer {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        .ct-grid {
          stroke: rgba(0,0,0,.2);
          stroke-width: 1px;
          stroke-dasharray: none;
          //z-index: 0;
        }
        .ct-labels {
          font-family: Montserrat;
          font-size: 10px;
          font-weight: 500;
        }
      }

      .ct-series-a .ct-bar {
        /* Colour of your bars */
        stroke: gold;
        /* The width of your bars */
        stroke-width: 20px;
        /* Maybe you like round corners on your bars? */
        // stroke-linecap: round;
      }

      .slaChart {
        margin-top: 30px;
        width: 326px;
        height: 295px;
        .ct-series-a {
          .ct-line {
            stroke: $slaSubColor;
            stroke-width: 3px;
          }
          .ct-point {
            stroke: $slaSubColor;
            transition: all 0.3s;
            &:hover {
              stroke-width: 15px;
              transition: all 0.3s;
            }
          }
          .ct-area {
            fill: $slaSubColor;
            fill-opacity: 1;
          }
        }
        .ct-series-b {
          .ct-line {
            stroke: $slaColor;
            stroke-width: 3px;
          }
          .ct-point {
            stroke: $slaColor;
            transition: all 0.3s;
            &:hover {
              stroke-width: 15px;
              transition: all 0.3s;
            }
          }
          .ct-area {
            fill: $slaColor;
            fill-opacity: 1;
          }
        }
      }
    }


    //ITEM 4 PROGRESS LOADER content
    .card-progress-loader {
      position: relative;
      .card-header {
        display: flex;
        justify-content: space-between;
        border: none;
      }
      a {
        position: absolute;
        left: 12px;
        bottom: 12px;
      }
      .card-goal-percent {
        font-weight: 300;
        font-size: 11px;
      }
      .card-parts {
        font-size: 12px;
        font-weight: 300;
        color: rgba(255,255,255,0.7);
        strong {color: white;}
      }
      .card-percent {
        font-family: Montserrat, sans-serif;
        font-weight: 200;
        width: 60px;
        height: 60px;
        font-size: 24px;
        position: absolute;
        left: 55%;
        top: 56%;
        margin: -30px 0 0 -30px;
      }
      .card-circles-dashed {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        //z-index: -1;
        .loading-circle{
          position: absolute;
          left: 50%;
          top: 50%;
          width: 80px;
          height: 80px;
          margin: -40px 0 0 -40px;
          border: 3px solid #fff;
          border-top-color: transparent;
          transform: rotate(-45deg);
          border-radius: 50%;
        }
        .loading-circle-dot {
          position: absolute;
          left: 50px;
          top: 92px;
          width: 10px;
          height: 10px;
          border-radius: 100%;
          background-color: white;
        }


        .triple-ring-inner,
        .triple-ring-inner:before,
        .triple-ring-inner:after {
          border: dashed 1px #fff3;
          border-radius: 100%;
          position: absolute;
          left: 50%;
          top: 50%;
          content: "";
        }



        .triple-ring-inner {
          width: 160px;
          height: 160px;
          margin: -80px 0 0 -80px;
          &:before {
            width: 120px;
            height: 120px;
            margin: -60px 0 0 -60px;
          }
          &:after {
            width: 80px;
            height: 80px;
            margin: -40px 0 0 -40px;
          }
        }

      }
      .card-circles-progress {
      }

    }
    //ITEM 5 CALENDER content
    .card-calender {
      img {
        width: 100%
      }

    }
    //ITEM 6 LIST content
    .card-list {
      display: flex;
      align-items: center;
      flex-direction: column;
      font-family: Open Sans, sans-serif;
      font-size: 14px;
      font-weight: 600;

      .top-sales-list {
        width: 100%;

        .title {
          font-family: Montserrat, sans-serif;
          font-weight: 600;
          margin-top: 6px;
          color: #37394C;
        }

        ul {
          &:last-child {
            border-bottom: none
          }
          display: flex;
          justify-content: space-between;
          list-style-type: none;
          border-bottom: 1px solid #F0F0F0;
          padding: 12px 16px;
          margin: 0;
          li {
            margin-left: 10px;
            color: #232A3B;
            font-weight: 400;
            font-size: 14px;
          }
          li:nth-child(even) {
            color: #909399;
            font-size: 13px;
            margin-right: 10px;
          }
        }
      }
    }
    //ITEM 7 SUBSCRIPTION content
    .card-subscription {
      position: relative;
      padding: 16px 0 0 20px;
      h2  {
        font-size: 12px;
        margin: 0 0 0 8px;
      }
      p  {
        font-size: 24px;
        font-weight: 400;
        margin: 0 0 0 8px;
      }
      img {
        position: absolute;
        right: 50px;
        bottom: 16px

      }
    }
    //ITEM 8 LINE CHART content
    .card-line-chart {
      position: relative;
      .header {
        h2 {
          font-size: 14px;
          margin: 22px 8px 22px 32px;
        }
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }
      img {
        margin: 22px 30px 22px 16px;
      }

      .summary-week-value {
        display: flex;
        margin: 32px 16px;
        .current-week-value {
          margin-left: 16px;
          h5 {
            font-size: 24px;
            margin: 0;
            font-weight: 200;
            color: #4b9fff;
          }
          p {
            font-size: 10px;
            margin: 0;
            font-weight: 600;
          }
        }
        .past-week-value {
          margin-left: 32px;
          h5 {
            font-size: 24px;
            font-weight: 200;
            margin: 0;
            color: #b9b8bd;
          }
          p {
            margin: 0;
            font-size: 10px;
            font-weight: 600;
          }
        }
      }

      .chartjs-wrapper {
        //top: 150px;
        position: relative;
        //left: 8%;
        margin: 44px 42px 0 24px;
        height: 200px;
      }
    }
    //ITEM 9 POLE CHART content
    .card-pole-chart {

      position: relative;
      .card-header {
        display: flex;
        justify-content: left;
        border-bottom: solid 1px #f0f0f0;
        h2 {
          margin: 16px 24px 0 24px;
          font-size: 14px
        }
        .active {
          border-bottom: 2px solid #3B75FF;
          padding: 0 12px 14px 12px;
        }
        .inactive {
          color: #909399;
        }

      }
      .card-body {
        left: 90px;
        bottom: 60px;
        position: absolute;
        //margin-top: 20px;
        height: 100%;
        ul {
          position: absolute;
          left: -86px;
          bottom: -44px;
          list-style-type: none;
          li {
            font-size: 14px;
            font-weight: 400;
            margin: 20px 0 20px 0;
            color: #99999990;
            &:nth-child(even) {
              color: #99999940;
            }
          }
        }

        .card-week {
          display: flex;
          position: absolute;
          left: -58px;
          bottom: -50px;
          li {
            font-size: 12px;
            margin: 0 16px 0 16px;
            width: 40px;
            &:nth-child(even) {
              color: #99999990;
            }
          }
        }

        .card-chart-blocks-1 {
          position: absolute;
          left: 2px;
          bottom: 16px;
          width: 8px;
          height: 6%;
          background-color: #ff4256;
          z-index: 1;

        }
        .card-chart-blocks-2 {
          position: absolute;
          left: 20px;
          bottom: 38px;
          width: 8px;
          height: 3%;
          background-color: #497FFF;
          z-index: 1;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 8px;
            height: 10%;
            background-color: #BACEFF;
            z-index: 3;
          }
          &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 8px;
            height: 30%;
            background-color: #7EA2FF;
            z-index: 2;
          }
        }
        .card-chart-blocks-3 {
          position: absolute;
          left: 40px;
          bottom: 38px;
          width: 8px;
          height: 35%;
          background-color: #497FFF;
          z-index: 1;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 8px;
            height: 10%;
            background-color: #BACEFF;
            z-index: 3;
          }
          &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 8px;
            height: 30%;
            background-color: #7EA2FF;
            z-index: 2;
          }
        }
        .card-chart-blocks-4 {
          position: absolute;
          left: 60px;
          bottom: 38px;
          width: 8px;
          height: 32%;
          background-color: #497FFF;
          z-index: 1;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 8px;
            height: 10%;
            background-color: #BACEFF;
            z-index: 3;
          }
          &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 8px;
            height: 30%;
            background-color: #7EA2FF;
            z-index: 2;
          }
        }
        .card-chart-blocks-5 {
          position: absolute;
          left: 80px;
          bottom: 38px;
          width: 8px;
          height: 28%;
          background-color: #497FFF;
          z-index: 1;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 8px;
            height: 10%;
            background-color: #BACEFF;
            z-index: 3;
          }
          &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 8px;
            height: 30%;
            background-color: #7EA2FF;
            z-index: 2;
          }
        }
        .card-chart-blocks-6 {
          position: absolute;
          left: 100px;
          bottom: 38px;
          width: 8px;
          height: 36%;
          background-color: #497FFF;
          z-index: 1;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 8px;
            height: 10%;
            background-color: #BACEFF;
            z-index: 3;
          }
          &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 8px;
            height: 30%;
            background-color: #7EA2FF;
            z-index: 2;
          }
        }
        .card-chart-blocks-7 {
          position: absolute;
          left: 120px;
          bottom: 0;
          width: 8px;
          height: 10%;
          background-color: #ff4256;
          z-index: 1;
        }
        .card-chart-blocks-8 {
          position: absolute;
          left: 140px;
          bottom: 38px;
          width: 8px;
          height: 36%;
          background-color: #497FFF;
          z-index: 1;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 8px;
            height: 10%;
            background-color: #BACEFF;
            z-index: 3;
          }
          &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 8px;
            height: 30%;
            background-color: #7EA2FF;
            z-index: 2;
          }
        }
        .card-chart-blocks-9 {
          position: absolute;
          left: 160px;
          bottom: 38px;
          width: 8px;
          height: 23%;
          background-color: #497FFF;
          z-index: 1;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 8px;
            height: 10%;
            background-color: #BACEFF;
            z-index: 3;
          }
          &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 8px;
            height: 30%;
            background-color: #7EA2FF;
            z-index: 2;
          }
        }
        .card-chart-blocks-10 {
          position: absolute;
          left: 180px;
          bottom: 38px;
          width: 8px;
          height: 33%;
          background-color: #497FFF;
          z-index: 1;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 8px;
            height: 10%;
            background-color: #BACEFF;
            z-index: 3;
          }
          &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 8px;
            height: 30%;
            background-color: #7EA2FF;
            z-index: 2;
          }
        }
        .card-chart-blocks-11 {
          position: absolute;
          left: 200px;
          bottom: 38px;
          width: 8px;
          height: 29%;
          background-color: #497FFF;
          z-index: 1;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 8px;
            height: 10%;
            background-color: #BACEFF;
            z-index: 3;
          }
          &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 8px;
            height: 30%;
            background-color: #7EA2FF;
            z-index: 2;
          }
        }
        .card-chart-blocks-12 {
          position: absolute;
          left: 220px;
          bottom: 38px;
          width: 8px;
          height: 18%;
          background-color: #497FFF;
          z-index: 1;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 8px;
            height: 10%;
            background-color: #BACEFF;
            z-index: 3;
          }
          &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 8px;
            height: 30%;
            background-color: #7EA2FF;
            z-index: 2;
          }
        }

        .grid-wrapper-vertical > div {
          z-index: 0;
          position: absolute;
          left: 0;
          bottom: 0;
          border: solid 1px #F0F0F0;
          height: 160px;
          width: 50px;
          &:nth-child(1) {
            left: 0;
          }
          &:nth-child(2) {
            left: 50px;
          }
          &:nth-child(3) {
            left: 100px;
          }
          &:nth-child(4) {
            left: 150px;
          }
        }

        .grid-wrapper-horisontal > div {
          z-index: 0;
          position: absolute;
          left: 0;
          bottom: 0;
          border-top: solid 1px #F0F0F0;
          height: 40px;
          width: 230px;
          &:nth-child(1) {
            bottom: 0;
          }
          &:nth-child(2) {
            bottom: 40px;
          }
          &:nth-child(3) {
            bottom: 80px;
          }
          &:nth-child(4) {
            bottom: 120px;
          }
          &:nth-child(5) {
            bottom: 160px;
          }
          &:nth-child(6) {
            bottom: 200px;
          }
          &:nth-child(7) {
            bottom: 240px;
          }
          &:nth-child(8) {
            bottom: 280px;
          }
        }


      }
    }
    //ITEM 10 UPLOADER content
    .card-uploader {
      display: flex;
      justify-content: left;
      .text {
        font-family: Open Sans, sans-serif;
        display: flex;
        flex-direction: column;
        margin-left: 24px;
        h3 {
          margin: 6px 0 0 0;
        }
        p {
          font-family: Montserrat, sans-serif;
          margin: 0 0 0 0;
          color: #909399;
          font-size: 11px;
        }
      }
      .upload-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        border: dashed 2px #e6e6e6;
        border-radius: 4px;
        width: 100px;
        margin: 0 0 0 10px;
      }
    }
    //ITEM 11 FOLLOWERS content
    .card-followers {

    }
    //ITEM 12 VIDEO content
    .card-video {
      img {
        width: 100%;
        height: 70%;
      }
      h2 {
        font-size: 12px;
        font-weight: 700;
        margin: 14px 20px 8px 20px;
      }
      p {
        margin: 0;
      }
      .footer {
        display: flex;
        justify-content: space-between;
        margin: 2px 20px 0 20px;
      }
    }
  }




  //DATE PICKER STYLE DETAILS
  body{
    font-family: "Trebuchet MS", sans-serif;
    margin: 50px;
  }
  .demoHeaders {
    margin-top: 2em;
  }
  #dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
  }
  #dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
  }
  #icons {
    margin: 0;
    padding: 0;
  }
  #icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
  }
  #icons span.ui-icon {
    float: left;
    margin: 0 4px;
  }
  .fakewindowcontain .ui-widget-overlay {
    position: absolute;
  }
  select {
    width: 200px;
  }

  .ui-state-active, .ui-widget-content .ui-state-active {
    border-radius: 100%;
    text-align: center;
  }

  .ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: center;
    border-radius: 100%;
    text-decoration: none;

  }

  .ui-datepicker td {
    border: 0;
    padding: 7px;
    height: 32px;
  }











  //GRID PLACEMENT. Where each item should be placed on 12x12 grid
  .item1 {
    overflow: scroll;
    grid-column: 1/6;
    grid-row: 1/3;
  }
  .item2 {
    overflow: scroll;
    max-width: 100%;
    grid-column: 6/9;
    grid-row: 1/6;
  }
  .item3 {
    overflow: hidden;
    grid-column: 9/13;
    grid-row: 1/5;
  }
  .item4 {
    overflow: hidden;
    grid-column: 1/3;
    grid-row: 3/5;
  }
  .item5 {
    overflow: hidden;
    grid-column: 3/6;
    grid-row: 3/6;
  }
  .item6 {
    padding: 0;
    overflow: hidden;
    grid-column: 1/3;
    grid-row: 5/9;
  }
  .item7 {
    overflow: hidden;
    grid-column: 1/3;
    grid-row: 9/10;
  }
  .item8 {
    overflow: hidden;
    grid-column: 3/9;
    grid-row: 6/10;
  }
  .item9 {
    overflow: hidden;
    grid-column: 9/13;
    grid-row: 5/8;
  }
  .item10 {
    overflow: hidden;
    grid-column: 3/9;
    grid-row: 10/11;
  }
  .item11 {
    overflow: hidden;
    grid-column: 1/3;
    grid-row: 10/11;
  }
  .item12 {
    overflow: hidden;
    grid-column: 9/13;
    grid-row: 8/11;
  }



  @media screen and (max-width: 760px){



    .grid-wrapper, header {
     margin: 20px;
    }

    .grid-container {
    height: 4100px;
    }

    .item1 {
      overflow: scroll;
      grid-column: 1/13;
      grid-row: 1/2;
    }
    .item2 {
      overflow: scroll;
      max-width: 100%;
      grid-column: 1/13;
           grid-row: 2/3;
    }
    .item3 {
      overflow: hidden;
      grid-column: 1/13;
            grid-row: 3/4;
    }
    .item4 {
      overflow: hidden;
      grid-column: 1/13;
            grid-row: 4/5;
    }
    .item5 {
      overflow: hidden;
      grid-column: 1/13;
           grid-row: 5/6;
    }
    .item6 {
      padding: 0;
      overflow: hiddeN;
      grid-column: 1/13;
           grid-row: 6/7;
    }
    .item7 {
      overflow: hidden;
      grid-column: 1/13;
           grid-row: 7/8;
    }
    .item8 {
      overflow: hidden;
      grid-column: 1/13;
           grid-row: 8/9;
    }
    .item9 {
      overflow: hidden;
      grid-column: 1/13;
           grid-row: 9/10;
    }
    .item10 {
      overflow: hidden;
       grid-column: 1/13;
          grid-row: 10/11;
    }
    .item11 {
      overflow: hidden;
       grid-column: 1/13;
          grid-row: 11/12;
    }
    .item12 {
      overflow: hidden;
      grid-column: 1/13;
           grid-row: 12/13;
    }
  }
}

//@media screen and (max-width: 760px){
//
//  body {
//    margin: 20px;
//    main {
//      //max-width: 380px;
//      //margin: 0 auto 100px auto;
//    }
//
//  }
//}